
@using BeuntechSite.Models
@model Hakkimizda

@{
    Layout = null;
}
<section id="hakkimizda" class="about">
    <div class="container">
        <div class="section-title" data-aos="fade-up" >
            <h2>HAKKIMIZDA</h2>
            <p>TAKIMIMIZ VE BİZİM HAKKIMIZDA</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
                <div class="image">
                    <img src="../../Uploads/Hakkimizda/@Model.ResimUrl"  class="img-fluid img-responsive" style="height: 350px;" alt="@Model.Baslik">
                </div>

            </div>
            <div class="col-lg-6" data-aos="fade-left">
                <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
                    <h3>@Model.Baslik</h3>

                    <p>
                        @Html.Raw(@Model.Aciklama)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
