@using BeuntechSite.Models
@model IEnumerable<Service>
@{
    Layout = null;
}
<section id="birimler" class="services section-bg">
    
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Birimlerimiz</h2>
            <p></p>
        </div>

        <div class="row">

            <div class="col-lg-6 order-2 order-lg-1">
                @foreach (var item in Model.Where(x => x.IsImageActive == false && x.IsQuestion == true))
                {

                    for (int delay = 0; delay < (int)Model.Count(x => x.IsQuestion == true && x.IsImageActive == false); delay += 100)
                    {
                        <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="@delay">
                            <i class="bx bx-receipt"></i>
                            <h4>@item.Title</h4>
                            <p>@item.Text</p>
                        </div>

                    }
                }
            </div>
            <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("../../Content/BeuntechTheme/assets/img/services.jpg");' data-aos="fade-left" data-aos-delay="100"></div>
        </div>

    </div>
</section>