<section id="services" class="container section ft-centered">
    <header class="sec-heading">
        <h2>Biz Kimiz ?</h2>
        <span class="subheading">Lorem ipsum dolor sit amet, consectetur</span>
    </header>
    <div class="row">

        <!-- Item 1 -->
        <div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-square-frame-dark wow zoomIn" data-wow-duration=".6s" data-wow-delay=".3s">
            <span   class="et-laptop"></span>
            <h5>Web Design</h5>
            <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
        </div>
        <!-- Item 2 -->
        <div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-square-frame-dark wow zoomIn" data-wow-duration=".6s">
            <span class="et-toolbox"></span>
            <h5>Development</h5>
            <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
        </div>
        <!-- Item 3 -->
        <div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-square-frame-dark wow zoomIn" data-wow-duration=".6s">
            <span class="et-clipboard"></span>
            <h5>Branding</h5>
            <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
        </div>
        <!-- Item 4 -->
        <div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-square-frame-dark wow zoomIn" data-wow-duration=".6s" data-wow-delay=".3s">
            <span class="et-beaker"></span>
            <h5>Marketing</h5>
            <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
        </div>
    </div><!-- / .row -->
</section>