
<div id="home" class="kenburn-hero" style="background-image:url('../../Uploads/2440x1578.png');" >
<div class="kenburn-slider">
    
        <!-- Heading -->
        <div class="hero-wrapper">
            <div class="hero-content">
                <h1 class="lead-white-bg">
                    <span>DÜŞÜN</span><br>
                    <span>TASARLA</span><br>
                    <span>ÜRET</span>
                </h1>
                <h4>Tıpkı bizim gibi...</h4>
                <a href="#services" class="btn-ghost-light">Daha Fazlası</a>
            </div>
        </div><!-- / .hero-wrapper -->
        <!-- Ken Burns Slider -->
        <canvas class="kenburns">
            <p>Your browser doesn't support canvas!</p>
        </canvas>
    </div>
    <!-- Scroller -->
    <a href="#services" class="scroller">
        <span class="scroller-text">aşağı kaydır</span>
        <span class="linea-basic-magic-mouse"></span>
    </a>
</div><!-- / #home .kenbrun-hero-->